__tests__
node_modules/
examples/
src/
coverage/
debug/
docker/
.DS_Store
.eslintignore
.eslintrc.json
.nvmrc
.prettierrc.json
.release-it.json
eslintrc.json
docker-compose.yml
jest.config.js
tsconfig.json
tsup.config.ts